@tailwind base;
@tailwind components;
@tailwind utilities;


.bodoni-moda{
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.inter{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }
  .custom-thumb {
    width: 40px;
    height: 40px;
    background-position: center;
    z-index: 999;
    background-image: url('https://res.cloudinary.com/boxity-id/image/upload/v1715350761/surfing-board_qkrqgw.svg');
    background-size: contain;
    appearance: none;
    background-repeat: no-repeat;
    
  }